<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- MuJoCo hardware interface for the Cobotta workcell -->
  <xacro:macro name="cobotta_mujoco_ros2_control" params="namespace">
    <ros2_control name="${namespace}MujocoSystem" type="system">
      <hardware>
        <plugin>mujoco_ros2_control/MujocoSystemInterface</plugin>
        <param name="mujoco_model">$(find techtory_cobotta_workcell_description)/urdf/mjcf/techtory_cobotta_workcell.xml</param>
      </hardware>
      <joint name="${namespace}joint_1">
        <command_interface name="position">
          <param name="min">-4.712389</param>
          <param name="max">4.712389</param>
        </command_interface>
        <command_interface name="acceleration">
            <param name="min">-0.310886</param>
            <param name="max">0.310886</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="${namespace}joint_2">
        <command_interface name="position">
          <param name="min">-2.617994</param>
          <param name="max">2.617994</param>
        </command_interface>
        <command_interface name="acceleration">
          <param name="min">-0.310886</param>
          <param name="max">0.310886</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="${namespace}joint_3">
        <command_interface name="position">
          <param name="min">-2.617994</param>
          <param name="max">2.617994</param>
        </command_interface>

        <command_interface name="acceleration">
          <param name="min">-0.621773</param>
          <param name="max">0.621773</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="${namespace}joint_4">
        <command_interface name="position">
          <param name="min">-4.712389</param>
          <param name="max">4.712389</param>
        </command_interface>
        <command_interface name="acceleration">
          <param name="min">-0.049741</param>
          <param name="max">0.049741</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="${namespace}joint_5">
        <command_interface name="position">
          <param name="min">-2.617994</param>
          <param name="max">2.617994</param>
        </command_interface>
        <command_interface name="acceleration">
          <param name="min">-0.690860</param>
          <param name="max">0.690860</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="${namespace}joint_6">
        <command_interface name="position">
          <param name="min">-6.283185</param>
          <param name="max">6.283185</param>
        </command_interface>
        <command_interface name="acceleration">
          <param name="min">-0.690860</param>
          <param name="max">0.690860</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
    </ros2_control>
  </xacro:macro>


  <!-- Topic-based hardware interface for the Cobotta workcell -->
  <xacro:macro name="cobotta_topic_based_ros2_control" params="namespace">
    <ros2_control name="${namespace}TopicBasedSystem" type="system">
      <hardware>
        <plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
        <param name="joint_commands_topic">/topic_based_joint_commands</param>
        <param name="joint_states_topic">/topic_based_joint_states</param>
      </hardware>
            <joint name="${namespace}joint_1">
        <command_interface name="position">
          <param name="min">-4.712389</param>
          <param name="max">4.712389</param>
        </command_interface>
        <command_interface name="acceleration">
            <param name="min">-0.310886</param>
            <param name="max">0.310886</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="${namespace}joint_2">
        <command_interface name="position">
          <param name="min">-2.617994</param>
          <param name="max">2.617994</param>
        </command_interface>
        <command_interface name="acceleration">
          <param name="min">-0.310886</param>
          <param name="max">0.310886</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="${namespace}joint_3">
        <command_interface name="position">
          <param name="min">-2.617994</param>
          <param name="max">2.617994</param>
        </command_interface>

        <command_interface name="acceleration">
          <param name="min">-0.621773</param>
          <param name="max">0.621773</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="${namespace}joint_4">
        <command_interface name="position">
          <param name="min">-4.712389</param>
          <param name="max">4.712389</param>
        </command_interface>
        <command_interface name="acceleration">
          <param name="min">-0.049741</param>
          <param name="max">0.049741</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="${namespace}joint_5">
        <command_interface name="position">
          <param name="min">-2.617994</param>
          <param name="max">2.617994</param>
        </command_interface>
        <command_interface name="acceleration">
          <param name="min">-0.690860</param>
          <param name="max">0.690860</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="${namespace}joint_6">
        <command_interface name="position">
          <param name="min">-6.283185</param>
          <param name="max">6.283185</param>
        </command_interface>
        <command_interface name="acceleration">
          <param name="min">-0.690860</param>
          <param name="max">0.690860</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
    </ros2_control>
  </xacro:macro>

  <!-- mock hardware interface for the Cobotta workcell -->
  <xacro:macro name="cobotta_mock_ros2_control" params="namespace">
    <ros2_control name="${namespace}TopicBasedSystem" type="system">
      <hardware>
       <plugin>mock_components/GenericSystem</plugin> 
      </hardware>
           <joint name="${namespace}joint_1">
        <command_interface name="position">
          <param name="min">-4.712389</param>
          <param name="max">4.712389</param>
        </command_interface>
        <command_interface name="acceleration">
            <param name="min">-0.310886</param>
            <param name="max">0.310886</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="${namespace}joint_2">
        <command_interface name="position">
          <param name="min">-2.617994</param>
          <param name="max">2.617994</param>
        </command_interface>
        <command_interface name="acceleration">
          <param name="min">-0.310886</param>
          <param name="max">0.310886</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="${namespace}joint_3">
        <command_interface name="position">
          <param name="min">-2.617994</param>
          <param name="max">2.617994</param>
        </command_interface>

        <command_interface name="acceleration">
          <param name="min">-0.621773</param>
          <param name="max">0.621773</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="${namespace}joint_4">
        <command_interface name="position">
          <param name="min">-4.712389</param>
          <param name="max">4.712389</param>
        </command_interface>
        <command_interface name="acceleration">
          <param name="min">-0.049741</param>
          <param name="max">0.049741</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="${namespace}joint_5">
        <command_interface name="position">
          <param name="min">-2.617994</param>
          <param name="max">2.617994</param>
        </command_interface>
        <command_interface name="acceleration">
          <param name="min">-0.690860</param>
          <param name="max">0.690860</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="${namespace}joint_6">
        <command_interface name="position">
          <param name="min">-6.283185</param>
          <param name="max">6.283185</param>
        </command_interface>
        <command_interface name="acceleration">
          <param name="min">-0.690860</param>
          <param name="max">0.690860</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
    </ros2_control>
  </xacro:macro>
</robot>
