<?xml version='1.0' encoding='utf-8'?>
<robot name="shelf">
  <material name="shelf_steel">
    <color rgba="0.75 0.75 0.78 1.0" />
  </material>
  <link name="shelf_base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.01 0.01" />
      </geometry>
      <material name="shelf_steel" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.01 0.01" />
      </geometry>
    </collision>
  </link>
  <link name="shelf_leg_front_left_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.80" />
      </geometry>
      <material name="shelf_steel" />
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.80" />
      </geometry>
    </collision>
  </link>
  <joint name="shelf_leg_front_left_joint" type="fixed">
    <parent link="shelf_base_link" />
    <child link="shelf_leg_front_left_link" />
    <origin rpy="0 0 0" xyz="0.48 0.13 0.40" />
  </joint>
  <link name="shelf_leg_front_right_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.80" />
      </geometry>
      <material name="shelf_steel" />
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.80" />
      </geometry>
    </collision>
  </link>
  <joint name="shelf_leg_front_right_joint" type="fixed">
    <parent link="shelf_base_link" />
    <child link="shelf_leg_front_right_link" />
    <origin rpy="0 0 0" xyz="0.48 -0.13 0.40" />
  </joint>
  <link name="shelf_leg_back_left_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.80" />
      </geometry>
      <material name="shelf_steel" />
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.80" />
      </geometry>
    </collision>
  </link>
  <joint name="shelf_leg_back_left_joint" type="fixed">
    <parent link="shelf_base_link" />
    <child link="shelf_leg_back_left_link" />
    <origin rpy="0 0 0" xyz="-0.48 0.13 0.40" />
  </joint>
  <link name="shelf_leg_back_right_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.80" />
      </geometry>
      <material name="shelf_steel" />
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.80" />
      </geometry>
    </collision>
  </link>
  <joint name="shelf_leg_back_right_joint" type="fixed">
    <parent link="shelf_base_link" />
    <child link="shelf_leg_back_right_link" />
    <origin rpy="0 0 0" xyz="-0.48 -0.13 0.40" />
  </joint>
  <link name="shelf_board_top_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size="1.00 0.30 0.04" />
      </geometry>
      <material name="shelf_steel" />
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size="1.00 0.30 0.04" />
      </geometry>
    </collision>
  </link>
  <joint name="shelf_board_top_joint" type="fixed">
    <parent link="shelf_base_link" />
    <child link="shelf_board_top_link" />
    <origin rpy="0 0 0" xyz="0 0 0.78" />
  </joint>
  <link name="shelf_board_middle_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size="1.00 0.30 0.04" />
      </geometry>
      <material name="shelf_steel" />
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size="1.00 0.30 0.04" />
      </geometry>
    </collision>
  </link>
  <joint name="shelf_board_middle_joint" type="fixed">
    <parent link="shelf_base_link" />
    <child link="shelf_board_middle_link" />
    <origin rpy="0 0 0" xyz="0 0 0.34" />
  </joint>
  <link name="shelf_board_bottom_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size="1.00 0.30 0.04" />
      </geometry>
      <material name="shelf_steel" />
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size="1.00 0.30 0.04" />
      </geometry>
    </collision>
  </link>
  <joint name="shelf_board_bottom_joint" type="fixed">
    <parent link="shelf_base_link" />
    <child link="shelf_board_bottom_link" />
    <origin rpy="0 0 0" xyz="0 0 0.14" />
  </joint>
</robot>